
<div class="jumbotron">
    <div class="container">
        <h1>Friend Finderz</h1>
        <p>{{friendCount}} friends signed up!</p>
        <p>
            <a class="btn btn-primary btn-lg">Find a New Friend</a>
        </p>
    </div>
</div>
